body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #221917;

    background-color: #f9fbff;
}

img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 599px)
.me {
    text-align: center !important;
    background-color: blue;
}
