body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #221917;

    background-color: white;
}

.row {
    display: flex;
}

@media (max-width: 599px) {
    .row {
        display: block;
    }
}

.me {
    align-self: center;
}

#profile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.project-list {
    padding: 0;
}

.project-list li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tagline {
    font-size: 14px;
}
