---
---

@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.container {
    margin-left: 1em;
    margin-right: 1em;

    font-family: 'Open Sans';
}

$highlight: #00B2FF;

nav {
    font-family: 'Luckiest Guy', cursive;

    padding-top: 14px;

    $anim-time: 0.3s;

    a {
        color: black;
        text-decoration: none;

    }

    h1, span {
        background-size: 200% 100%;
        background-image: linear-gradient(to left, $highlight 50%, black 50%);
        -webkit-transition: background-position $anim-time;
        -moz-transition: background-position $anim-time;
        transition: background-position $anim-time;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }


    h1:hover, span:hover {
        background-position: -100% 0%;
    }

    h1 {
        font-size: 2em;
        margin: 0;

        display: inline-block;
    }

    li {
        padding: 0;
        margin: 0;
        font-size: 2em;
        display: inline;

        margin-right: 2em;
    }

    li:last-child {
        margin-right: 0;
    }

    li:first-child {
        margin-right: auto;
    }

    ul {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    border-bottom: 3px #00B2FF solid;
    margin-bottom: 1.5em;
}


main {
    img {
        width: 100%;
    }
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .container {
        width: 70%;

        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1280px) {

}
