---
---

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>
            {% if page.title %}
                {{ page.title }} -
            {% endif %}

            {{ site.title }}
        </title>

        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect"
              href="https://fonts.gstatic.com"
              crossorigin />

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap"/>

        <link rel="stylesheet" type="text/css" href="{% link assets/css/normalize.css %}"/>

        <link rel="stylesheet" type="text/css" href='{% link assets/css/style.scss %}'>
    </head>
    <body>
        <div class="container">
            <section>
                <nav>
                    <ul>
                        <li><a href="{{ site.baseurl }}/"><h1>hi, i'm harrison</h1></a></li>
                        <li><a href="{% link blog.md %}"><span>blog</span></a></li>
                    </ul>
                </nav>
            </section>

            <section>
                <main>
                    {{ content }}
                </main>
            </section>
        </div>
    </body>
</html>
